<% if cat.persisted? %>
    <% action_url = cat_url(cat) %>
    <% button_text = "Update" %>
<% else %>
    <% action_url = cats_url %>
    <% button_text = "Create" %>
<% end %>

<form action="<%= action_url %>" method="POST">
    <% if type == :edit %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <label for="name">Name:</label>
    <input id="name" type="text" name="cat[name]" value=<%= cat.name %>>

    <% if cat.sex == 'F'%>
        <input id="male" type="radio" name="cat[sex]" value="M">
        <label for="male">Male</label>
        <input id="female" type="radio" name="cat[sex]" value="F" checked>
        <label for="female">Female</label>
    <% else %>
        <input id="male" type="radio" name="cat[sex]" value="M" checked>
        <label for="male">Male</label>
        <input id="female" type="radio" name="cat[sex]" value="F">
        <label for="female">Female</label>
    <% end %>

    <label for="color">Color:</label>
    <select id="color" name="cat[color]">
        <option selected disabled>Select Color</option>
        <% Cat::COLORS.each do |color| %>
            <% if color == cat.color %>
                <option value=<%= color %> selected><%= color.upcase %></option>
            <% else %>
                <option value=<%= color %>><%= color.upcase %></option>
            <% end %>
        <% end %>
    </select>

    <label for="birth_date">Birth Date:</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value=<%= cat.birth_date %>>

    <label>Description:
        <textarea name="cat[description]"><%= cat.description %></textarea>
    </label>

    <input type="submit" value=<%= button_text %>>
    
</form>